@charset "UTF-8";
/* Imports og variabler */
/* Body med header (top-bar), main og footer */
body {
  margin: 0 auto;
}
body header {
  grid-area: header;
}
body header figure {
  margin: 0;
  background-color: #50653C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body main {
  grid-area: main;
}
body footer {
  grid-area: footer;
  background-color: #5D8046;
  display: grid;
  grid-template-areas: "kundeservice kontakt-oss" "betalingsmåter sosiale-medier" "logo .";
  grid-template-columns: 1fr 1fr;
}
body footer #kundeservice {
  grid-area: kundeservice;
}
body footer #kundeservice h3 {
  text-align: center;
}
body footer #kundeservice #kundeservice-innhold li a {
  color: black;
  text-decoration: none;
}
body footer #kundeservice #kundeservice-innhold li a i {
  margin-right: 8px;
}
body footer #kundeservice #kundeservice-innhold li i {
  margin-right: 8px;
}
body footer #kontakt-oss {
  text-align: center;
  grid-area: kontakt-oss;
}
body footer #mail {
  text-align: center;
}
body footer #send-mail {
  align-self: center;
  color: black;
}
body footer #betalingsmåter {
  text-align: center;
  grid-area: betalingsmåter;
  margin: 3rem 0;
  font-size: 2rem;
}
body footer #betalingsmåter h4 {
  font-size: 1.1rem;
  margin: 0.5rem 1rem;
}
body footer #betalingsmåter #applepay-betalings-ikon {
  font-size: 3rem;
}
body footer #sosiale-medier {
  justify-self: center;
  grid-area: sosiale-medier;
}
body footer #sosiale-medier h6 {
  font-size: 1rem;
  margin: 0.5rem 0;
}
body footer #sosiale-medier ol {
  margin: 0;
  padding: 0;
}
body footer #sosiale-medier ol li a {
  display: flex;
  flex-direction: row;
  color: black;
  text-decoration: none;
}
body footer #sosiale-medier ol li a i {
  margin-right: 8px;
  align-self: center;
  font-size: 1.5rem;
}
body footer #logo {
  width: 100%;
  max-width: 140px;
  align-self: center;
  font-size: 1.5rem;
  grid-area: logo;
}
body footer ol li {
  list-style: none;
}

/* Hovednavigasjonen med symboler og logo */
.main-nav {
  background-color: #5D8046;
}
.main-nav ol {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.main-nav ol li {
  list-style: none;
  align-self: center;
  font-size: 1.8rem;
}
.main-nav ol #søksymbol {
  padding: 12px;
}
.main-nav ol #søkebar input[type=text] {
  padding: 10px;
  margin: 10px;
  border: solid thin black;
  border-radius: 25px;
}
.main-nav ol #handlekurv {
  padding: 12px;
}
.main-nav ol #hamburgermeny {
  padding: 12px;
}
.main-nav #logo {
  width: 100%;
  max-width: 140px;
  align-self: center;
  font-size: 1.5rem;
}

/* Kategoriene herre, dame og barn valgene - navigasjon */
.category {
  background-color: #5D8046;
  grid-area: nav-category;
  display: flex;
  justify-content: space-around;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: black;
}

.category-button {
  background-color: #B7EB6E;
  font-size: 1.3rem;
  border-radius: 5px;
  padding: 0.3rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  text-decoration: none;
  color: black;
}

/* Grid container med arealer; header, nav category, main og footer */
#grid-container {
  display: grid;
  grid-template-areas: "header" "nav-category" "main" "footer";
}

/* Artikkelseksjonen med bilder og tekst */
#tips-og-tricks {
  display: grid;
  grid-template-areas: "tursko-brune tursko-svarte" "tursko-brune-text tursko-svarte-text";
  gap: 10px;
  padding: 0px 10px;
  margin: 20px 0px;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
#tips-og-tricks img {
  border-style: solid;
  border-width: thin;
  border-color: black;
}
#tips-og-tricks #tursko-brune {
  grid-area: tursko-brune;
  height: 11em;
}
#tips-og-tricks #tursko-svarte {
  grid-area: tursko-svarte;
  height: 11em;
}
#tips-og-tricks #tursko-brune-text {
  grid-area: tursko-brune-text;
  margin: 0;
  text-align: center;
}
#tips-og-tricks #tursko-svarte-text {
  grid-area: tursko-svarte-text;
  margin: 0;
  text-align: center;
}

/* Importert fra mixins */
img {
  width: 100%;
  max-width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Stilsetting på header (top bar) med tekst og symboler */
#top-bar {
  padding: 0 0.8rem;
  font-size: 0.9rem;
}
#top-bar #pakke {
  align-self: center;
  font-size: 1.3rem;
  margin-right: 0.5rem;
}
#top-bar #applepay {
  align-self: center;
  font-size: 1.8rem;
  margin: 0 0.5rem 0 auto;
}
#top-bar #headset {
  align-self: center;
  font-size: 1.5rem;
  margin: 0 0.5rem 0 auto;
}

/* Salgsseksjonen med bilde (bakgrunn) og med tekst oppå */
#salgsseksjon {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0;
}
#salgsseksjon span {
  font-size: 3rem;
  font-weight: 800;
}
#salgsseksjon p {
  background-image: url(../img/sale-on-shoes.jpg);
  background-color: rgb(54, 173, 18);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 2rem;
  font-weight: 600;
  -moz-text-align-last: center;
       text-align-last: center;
  padding: 4rem;
  margin: 32px 10px 5px 10px;
}

/* Nyhetsseksjon med bilder og tilhørende tekst */
#nyhetseksjon {
  display: grid;
  grid-template-areas: "nyheter nyheter nyheter" "støvel-img joggesko-img pensko-img" "støvel-text joggesko-text pensko-text";
  grid-column: 1fr 1fr 1fr;
  gap: 10px;
  padding: 0 10px;
  margin: 20px 0px;
}
#nyhetseksjon h3 {
  grid-area: nyheter;
  text-align: center;
  background-color: #7cb068;
  padding: 15px 10px;
  border: 2px solid black;
  box-shadow: 5px 5px 10px gray;
  width: 35%;
  justify-self: center;
  font-weight: 600;
}
#nyhetseksjon #støvler-nyheter {
  grid-area: støvel-img;
  height: 11em;
}
#nyhetseksjon #støvler-text {
  grid-area: støvel-text;
  margin: 0;
}
#nyhetseksjon #joggesko-nyheter {
  grid-area: joggesko-img;
  height: 11em;
}
#nyhetseksjon #joggesko-text {
  grid-area: joggesko-text;
  margin: 0;
}
#nyhetseksjon a {
  grid-area: pensko-img;
}
#nyhetseksjon a img {
  height: 11em;
}
#nyhetseksjon #pensko-text {
  grid-area: pensko-text;
  margin: 0;
}

#produkt-side-bildeseksjon {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, auto);
}
#produkt-side-bildeseksjon figure {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 40px 10px 10px 10px;
}
#produkt-side-bildeseksjon #handlekurv {
  margin: 15px 0px;
}
#produkt-side-bildeseksjon h3 {
  margin: 10px 10px;
  font-size: 1.5rem;
}
#produkt-side-bildeseksjon #farge-valg {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
#produkt-side-bildeseksjon #farge-valg .farge-box {
  list-style: none;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 100px;
}
#produkt-side-bildeseksjon #farge-valg #box-blå {
  background-color: rgb(104, 104, 182);
}
#produkt-side-bildeseksjon #farge-valg #box-orange {
  background-color: orange;
}
#produkt-side-bildeseksjon #farge-valg #box-lilla {
  background-color: rgb(168, 24, 168);
}
#produkt-side-bildeseksjon #farge-valg #farge-text {
  list-style: none;
}
#produkt-side-bildeseksjon #farge-valg #farge-text h6 {
  font-weight: 600;
  font-size: 1rem;
  margin: 10px 10px;
}
#produkt-side-bildeseksjon #størrelse-valg {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
#produkt-side-bildeseksjon #størrelse-valg #størrelse-text {
  list-style: none;
}
#produkt-side-bildeseksjon #størrelse-valg #størrelse-text h6 {
  font-weight: 600;
  font-size: 1rem;
  margin: 10px 0 10px 10px;
}
#produkt-side-bildeseksjon #størrelse-valg .størrelse-box {
  list-style: none;
  border: 1px solid black;
  margin: 10px;
  padding: 8px;
  border-radius: 100px;
  text-align: center;
}

#handlekurv a {
  display: flex;
  flex-direction: row;
  background-color: #7cb068;
  width: 50%;
  margin-left: 20px;
  text-decoration: none;
  color: black;
}
#handlekurv a i {
  margin-right: 8px;
  align-self: center;
  font-size: 1.2rem;
  margin-left: 20px;
}

#tags {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 0;
}
#tags li {
  background-color: #50653C;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.7rem;
  text-decoration: none;
  color: black;
  list-style: none;
}

#mer-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
#mer-info li {
  list-style: none;
  width: 50%;
  margin-left: 20px;
}
#mer-info li a {
  display: flex;
  flex-direction: row;
  background-color: #7cb068;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.3rem;
  text-decoration: none;
  color: black;
}
#mer-info li a i {
  align-self: center;
  margin: 10px;
  font-size: 1.5rem;
}

#levering h2 {
  font-size: 1.5rem;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
  margin-top: 50px;
}
#levering h5 {
  font-size: 1.2rem;
  text-align: center;
}
#levering p {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

#retur h2 {
  font-size: 1.5rem;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
  margin-top: 30px;
}
#retur p {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 40px;
}

.hide-on-phone {
  display: none;
}

@media only screen and (min-width: 680px) {
  .hide-on-phone {
    display: block;
  }
  #grid-container {
    display: grid;
    grid-template-areas: "header header header" "nav-category nav-category nav-category" "main main main" "footer footer footer";
  }
  #søkebar {
    order: 2;
    margin-left: auto;
  }
  .main-nav ol li {
    order: 3;
  }
  .main-nav ol #logo-liste {
    order: 1;
  }
  .category-button {
    background-color: #B7EB6E;
    font-size: 1.8rem;
    border-radius: 25px;
    padding: 1.3rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    text-decoration: none;
    color: black;
    margin: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */