
/* Imports og variabler */
@import "partials/colors";
@import "partials/mixins";

/* Body med header (top-bar), main og footer */
body{
    margin: 0 auto; 
    header{
        grid-area: header;
        figure{
            margin: 0; 
            background-color: $darker-green;
            display: flex;
            flex-direction: row; 
            justify-content: space-between;
        }
    }
    main{
        grid-area: main; 
    }
    footer{
        grid-area: footer; 
        background-color: $medium-green;
        display: grid; 
        grid-template-areas: "kundeservice kontakt-oss" "betalingsmåter sosiale-medier" "logo .";
        grid-template-columns: 1fr 1fr; 

        #kundeservice{
            grid-area: kundeservice;

            h3{
                text-align: center; 
            }
            
            #kundeservice-innhold{
                li{
                    a{
                        color: black;
                        text-decoration: none;
                        i{
                            @include footer-icons-spacing;
                        }
                    }
                    i{
                        @include footer-icons-spacing;
                    }
                } 
            }

        
        }

        #kontakt-oss{
        text-align: center;
        grid-area: kontakt-oss; 
 
        }
        
            #mail{
                text-align: center;
            } 
 
            #send-mail{
                align-self: center; 
                color: black; 
            } 

        #betalingsmåter{
            text-align: center; 
            grid-area: betalingsmåter; 
            margin: 3rem 0; 

            h4{
                font-size: 1.1rem; 
                margin: 0.5rem 1rem; 
            }

            @include betalings-ikoner; 

            #applepay-betalings-ikon{
                font-size: 3rem; 
            }

    
        }

        #sosiale-medier{
            justify-self: center;
            grid-area: sosiale-medier; 

            h6{
                font-size: 1rem; 
                margin: 0.5rem 0; 
        }

            ol{
                margin: 0; 
                padding: 0; 

                li{

                    a{
                        display: flex; 
                        flex-direction: row; 
                        color: black; 
                        text-decoration: none;

                    i{
                        @include footer-icons-spacing; 
                        align-self: center;
                        @include sosiale-medier-ikoner;
                    }
                }
            }
        }
    }
           
        #logo{
            width: 100%; 
            max-width: 140px; 
            align-self: center; 
            font-size: 1.5rem; 
            grid-area: logo; 
        }

            ol{
                li{
                    list-style: none; 
            }
        }
    }
}

/* Hovednavigasjonen med symboler og logo */
.main-nav{
    background-color: $medium-green;
    ol{
        margin: 0;
        padding: 0;
        display: flex; 
        justify-content: space-between; 
        li{
            list-style: none; 
            align-self: center; 
            font-size: 1.8rem;
        }

    #søksymbol{
        padding: 12px; 
    }

    #handlekurv{
        padding: 12px; 
    } 

    #hamburgermeny{
        padding: 12px; 
    }

    }
    #logo{
        width: 100%; 
        max-width: 140px; 
        align-self: center; 
        font-size: 1.5rem; 
    }
}

/* Kategoriene herre, dame og barn valgene - navigasjon */
.category{
    background-color: $medium-green;
    grid-area: nav-category; 
    display: flex; 
    justify-content: space-around; 
    @include border-top; 
}
.category-button{
    background-color: #B7EB6E;
    font-size: 1.3rem; 
    border-radius: 5px;
    padding: 0.3rem;  
    @include category-buttons-margins;
    text-decoration: none;
    color: black; 
}

/* Grid container med arealer; header, nav category, main og footer */
#grid-container{
    display: grid; 
    grid-template-areas: "header" "nav-category" "main" "footer";
}

/* Artikkelseksjonen med bilder og tekst */
#tips-og-tricks{
    display: grid; 
    grid-template-areas: "tursko-brune tursko-svarte" "tursko-brune-text tursko-svarte-text";
    gap: 10px; 
    padding: 0px 10px;
    margin: 20px 0px;
    margin-top: 4rem;
    margin-bottom: 3rem; 
    
    img{
        @include artikkel-image-border;
    }

    #tursko-brune{
        grid-area: tursko-brune;
        height: 11em; 
    }

    #tursko-svarte{
        grid-area: tursko-svarte; 
        height: 11em; 
    }

    #tursko-brune-text{
        grid-area: tursko-brune-text; 
        margin: 0; 
        text-align: center; 
    }

    #tursko-svarte-text{
        grid-area: tursko-svarte-text; 
        margin: 0; 
        text-align: center; 
    }
}

/* Importert fra mixins */
img {
    @include img;
}

/* Stilsetting på header (top bar) med tekst og symboler */
#top-bar{
    padding: 0 0.8rem;
    font-size: 0.9rem; 
    
    #pakke{
        align-self: center; 
        font-size: 1.3rem; 
        margin-right: 0.5rem; 
       
    }
    #applepay{
        align-self: center; 
        font-size: 1.8rem;
        margin: 0 0.5rem 0 auto; 
    }

    
}

/* Salgsseksjonen med bilde (bakgrunn) og med tekst oppå */
#salgsseksjon{
    position: relative; 
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0;

    span{
        font-size: 3rem;
        font-weight: 800;
    }
    p{
        background-image: url(../img/sale-on-shoes.jpg);
        background-color: rgb(54, 173, 18);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-size: 2rem;
        font-weight: 600;
        text-align-last: center;
        padding: 4rem;
        margin: 32px 10px 5px 10px;
    }
}

/* Nyhetsseksjon med bilder og tilhørende tekst */ 
#nyhetseksjon{
    display: grid; 
    grid-template-areas: "nyheter nyheter nyheter" "støvel-img joggesko-img pensko-img" "støvel-text joggesko-text pensko-text";
    grid-column: 1fr 1fr 1fr;
    gap: 10px; 
    padding: 0 10px;
    margin: 20px 0px;
    
    h3{
        grid-area: nyheter;
        text-align: center; 
        background-color: $light-green;
        padding: 15px 10px; 
        border: 2px solid black; 
        box-shadow: 5px 5px 10px gray;
        width: 35%;
        justify-self: center;
        font-weight: 600;  
    }
    #støvler-nyheter{
        grid-area: støvel-img;
        height: 11em;  
        
    }
    #støvler-text{
        grid-area: støvel-text;
        margin: 0; 
    }
   
    #joggesko-nyheter{
        grid-area: joggesko-img;
        height: 11em; 
    }
    #joggesko-text{
        grid-area: joggesko-text;
        margin: 0; 
    }
    
    a{
        grid-area: pensko-img;
        img{
            height: 11em; 
        }
    }

    #pensko-text{
        grid-area: pensko-text;
        margin: 0; 
    }
}