@mixin img{
    width: 100%; 
    max-width: 450px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

@mixin border-top{
    border-top-style: solid; 
    border-top-width: thin; 
    border-top-color: black;
}

@mixin category-buttons-margins{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem; 
}

@mixin artikkel-image-border{
    border-style: solid;
    border-width: thin; 
    border-color: black; 
}

@mixin footer-icons-spacing{
    margin-right: 8px; 
}

@mixin sosiale-medier-ikoner{
    font-size: 1.5rem; 
}

@mixin betalings-ikoner{
    font-size: 2rem; 
}